<div class="rcontainer">
  <div class="backbutton">
    <button class="button" (click)="onclick()">Back</button>
  </div>
  <div class="rphase">
    <header class="header">Research</header>
    <h2 style="text-align: center; margin-bottom: 10px; text-transform: uppercase;">Research Sub-Phases</h2>
    <div class="phaseitems">
      <a class="phaseitem" routerLink="external">External</a>
      <a class="phaseitem" routerLink="internal">Internal</a>
    </div>
  </div>
  <div class="Rbody">
    <router-outlet></router-outlet>
  </div>
</div>
 